﻿/**
 * fileid : 20210904°1321
 */

/* rule 20210903°1821 */
div.BoxForTechnique { border:1px solid Gray; border-radius:0.7em;
                      margin: 0.4em 0 0.4em 0;
                      padding-left:0.7em;
                    }


/* =========================================== */
/* Rules from daftari.css — Quick'n'dirty copied here

/**
 * rule 20080710°2311 The basic body
 */
body {
       background-color:PaleTurquoise; /* MintCream */
       font-family: Verdana, Geneva, sans-serif; /* wide sans-serife stack */
       line-height:1.59em; /* rule 20180413°1221 'adjust readability' */
}

/**
 * ruleset 20160617°0211 Chapter pane
 */
div.ChapterFaceNormal { margin:0 auto; max-width:780px; width:84%;
                         background-color:#fcfcfc; padding:0.3em 0.9em 0.3em 0.9em;
                          margin-top:0.9em; margin-bottom:1.1em;
                         } /* rule 20160617°0212 */

/**
 * ruleset 20150304°1211 Page logo top right
 */
p.TopLogoRightPlain { clear:right; } /* rule 20150304°1212 */
p.TopLogoRightPlain canvas { float:right; padding-right:0.6em; display:inline-block; } /* rule 20150304°1213 */
p.TopLogoRightPlain img { float:right; padding-right:0.6em; } /* rule 20150304°1214 */


/**
 * ruleset 20200318°0611 Footer23Referer — Footer line with dedicated spans
 */
p.Footer23Referer { border-top:1px solid; color:#505050; font-size:small; margin-bottom:2.1em; padding-top:0.2em; } /* rule 20200318°0612 */
span.Footer23Url { margin:0 0.4em 0 0.4em; font-family: 'Arial Narrow', Arial, sans-serif; } /* rule 20200318°0613 */
span.Footer23Url a { color:#505050; }
span.Footer23Url:before { content:'Page:\00A0'; }
span.Footer23Copy { margin:0 0.4em 0 0.4em; white-space:nowrap; } /* rule 20200318°0614 */
span.Footer23License span:nth-child(3) { margin:0 0.4em 0 0.4em; white-space:nowrap; } /* rule 20200318°0615 */
span.Footer23License a { color:#505050; }
span.Footer23License:before { content:''; }
span.Footer23License:after { content:''; }
span.Footer23PageId { margin:0 0 0 0.4em; font-size:x-small; font-style:italic;
                      font-family: 'ComicJensWeb', 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
                      white-space:nowrap;
                    } /* rule 20200318°0616 */
span.Footer23PageId:before { content:'page\00A0'; }
span.Footer23PageId:after { content:''; }

/* eof */
